.landing {
	position: relative;
	background: url('./assets/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
	color: white;
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/* Post button */
.post-button {
	padding-top: 0;
	background: transparent;
	border: none;
}

.post-button:hover {
	background: transparent;
}

a.post-button.btn:focus,
a.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

button.post-button.btn:focus,
button.post-button.btn:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Floating add button */
.btn-floating {
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background: transparent;
	border: none;
}

.btn-floating:hover {
	background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
	outline: none;
	background: transparent;
	border: none;
	box-shadow: none;
}

/* Add new post tooltip */
.tooltip {
	background: transparent;
}

.tooltip .arrow::before {
	border-left-color: #78c2ad;
}

.tooltip-inner {
	background: #78c2ad;
}

/* Post border thicker */
.border-success,
.border-warning,
.border-danger {
	border-width: 2px;
}

/* Post title */
.post-title {
	margin-bottom: 0.5rem;
}
